body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    footer{
    background-image: linear-gradient(to bottom,rgb(0, 0, 0),rgb(29, 28, 28));
    display: map-get($estilo1,display);
    padding: 20px;
    align-items: map-get($estilo1,align-items);
    justify-content: flex-end;
    margin-top: auto;
    .h5{
        color: rgb(248, 248, 248);
        margin-right: auto;
        margin-top: 20px;
        font-size: 15px;   
    }
    .links-logo{
        margin-right: 400px;
        align-items: center;
        .links-logo__1{
            color: white;
            margin: 3px;
            @include sizes(25px,25px);
        }
        .links-logo__2{
            height:20px ;
            width: 20px;
            margin: 3px;
            @include sizes(20px,20px);
        }
        .links-logo__3{
            height: 27px;
            width:27px;
            margin:3px;
            border-radius: 20%;
            @include sizes(27px,27px);
        }
    }
}
}