body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    .div-imagenes{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .div-imagenes__1,.div-imagenes__2,.div-imagenes__3,.div-imagenes__4{
            @include sizes(100%,600px);
            object-fit: cover;
        }  
    }

    .main-2{
        display: flex;
        margin-top: 50px;
        .acercademi-img__1{

            @include sizes(30rem,30rem);
            border: 3px solid rgb(31, 31, 31);
            margin-right: 30px;
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .acerca-de-mi{
            font-size: 1.2rem;
            color: rgb(0, 0, 0);
            font-family: 'Uchen', serif;
            margin-left: 40px;
            margin-right: 20px;
            margin-top: 50px;
        }
       }
       .form{
        display: flex;
        border: 2px solid rgb(0, 0, 0);
        align-self: center;
        font-family: 'Times New Roman', Times, serif;
        padding: 30px;
        margin-right: 350px;
        margin-left: 350px;
        margin-top: 10%;
        margin-bottom: 10%;
        @include color-tamaño( 2rem, rgba(216, 212, 212, 0.521));
        .form__1, .form__2, .form__3, .form__4{
            margin: 20px;
            .boton__1{
                font-weight: bold;
                color: rgb(255, 255, 255);
                padding: 7px;
                border-radius: 5px;
                margin-left: 30%;
                @include color-tamaño( 2rem, rgb(43, 43, 43));
            }
            .boton__1:hover{
                background-color: rgb(83, 83, 83);
            }
            
            
            .form__11, .form__21, .form__31{
                padding: 7px;
                border-radius: 5px;
                width: 300px;
                color: white;
                border-bottom: 5px solid rgb(247, 247, 247);  
                @include color-tamaño( 1.3rem, rgb(43, 43, 43));
            } 
            .form__41{
                @extend .form;
                min-height: 60px;
                max-height: 200px;
            }
        }
    }
    .div-beauty{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
            .div-beauty__1, .div-beauty__2, .div-beauty__3, .div-beauty__4{
    
            @include sizes(100%,800px);
        }
    } 
    .div-ma{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .div-ma__1, .div-ma__2, .div-ma__3, .div-ma__4{
            @include sizes(100%,600px);
        }
    } 
    #div-estudio__1, #div-estudio__2, #div-estudio__3{
        width: 40rem;
        height:40rem;
    }
}



